<!DOCTYPE html>
<html>
  <head>
    <title>ReduxOnRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
    <%= javascript_include_tag *webpack_asset_paths('application', extension: 'js') %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv/dist/html5shiv' %>
    <![endif]-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
